body {
  margin: 0;
  padding: 0;
  background: #eee;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.form {
  margin: 30px auto 100px;
  box-sizing: border-box;
}
.ajaxInput {
  box-sizing: border-box;
  height: 100px;
  background: #fff;
  margin: 0 auto 0;
  padding: 15px;
  box-sizing: border-box;
}
.form__label {
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
}
.form__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-style: none;
  font-size: 20px;
  box-sizing: border-box;
}
.form__btn {
  margin-top: 10px;
  outline: none;
  border-style: none;
  background: #777;
  color: #fff;
  float: right;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.3s all;
  box-sizing: border-box;
  display: block;
}
.form__btn:hover {
  background: #333;
}
